<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../static/bootstrap.css" rel="stylesheet">
    <style>

        .card{
            min-width: 19rem;
        }

        .modal-dialog{
            width: 400px;
        }

        .form-check-label{
            font-size: 13.3px;
            font-weight: 20px;
        }


        table{
            font-size: 13.3px;
            font-weight: 20px;
        }


        .modal-title{
            font-size: 15px;
        }
        

        .card-header{
            font-size: 13.3px;
            font-weight: 20px;

            background-color: rebeccapurple;
            color: white;
        }

        .form-select, .form-control{
            font-size: 13.3px;
            font-weight: 20px;
        }

        .select-label{
            color: rebeccapurple;
            font-size: 13.3px;
            font-weight: 20px;
        }

        .btn{
            font-size: 13.3px;
            font-weight: 20px;
            letter-spacing: 0.7px;

            min-width: 100px;

            background: white;
            border-color: rebeccapurple;
            color: rebeccapurple;
        }

        .btn:hover{
            background: white;
            border-color: rebeccapurple;
            color: rebeccapurple;
        }

       .btn:focus {
          box-shadow: 0 0 0 0.25rem rgba(102, 51, 153 0.5);
        }

       .btn:active {
          box-shadow: 0 0 0 0.25rem rgba(102, 51, 153 0.5);
        }

        #filter-title{
            font-size: 0.8rem;
            color: rebeccapurple;
            letter-spacing: 1px;
        }

    </style>
  </head>
  <body>
    <!-- Optional JavaScript; choose one of the two! -->

    <div class="container">
        <div class="row pt-5">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header">
                        Complete Form (Report)
                    </div>
                    
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-12 mt-4">
                                <button id="modal_button" type="button" class="btn">select database tables</button>
                            </div>
                            
                            <div class="col-12">
                                <hr>
                                <label for="tables-select" class="form-label mb-1 select-label">Table</label>
                                <select class="form-select" id="tables-select">
                                  <option selected>select to edit tables</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="columns-select" class="form-label mb-1 select-label">Column</label>
                                <select class="form-select" id="columns-select">
                                  <option selected>select columns</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="columns-select" class="form-label mb-1 select-label">Alias</label>
                                <input type="text" class="form-control" id="column-alias" name="column-alias">
                            </div>

                            <div class="col-12 text-end mt-4">
                                <button class="btn mb-0" id="add-selector">Add Selector</button>
                            </div>

                            <div class="col-12">
                                <hr>
                                <label for="target-select" class="form-label mb-1 select-label">Filter Target</label>
                                <select class="form-select" id="target-select">
                                  <option selected>None</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="columns-select" class="form-label mb-1 select-label">Filter Value</label>
                                <input type="text" class="form-control" id="filter-value" name="filter-value" placeholder="None">
                            </div>

                            <div class="col-12">
                                <label for="ops-select" class="form-label mb-1 select-label">Operation</label>
                                <select class="form-select" id="ops-select">
                                  <option selected>None</option>
                                  <option>EQUAL</option>
                                  <option>GREATER THAN</option>
                                  <option>LESS THAN</option>
                                  <option>GREATER THAN OR EQUAL TO</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="logic-ops-select" class="form-label mb-1 select-label">Logical Operator</label>
                                <select class="form-select" id="logic-ops-select">
                                  <option selected>None</option>
                                  <option>AND</option>
                                  <option>OR</option>
                                </select>
                            </div>

                            <div class="col-12 text-end mt-4">
                                <button class="btn mb-0" id="add-filter">Add Filter</button>
                            </div>

                            <div class="col-12 text-center mt-4">
                                <hr>
                                <button class="btn mb-0" id="build-report">Build Report</button>
                            </div>
                        </div>
                    </div>
                    <!--<div class="card-footer bg-transparent">Footer</div>-->
                </div>
            </div>

            <div class="col-md-8" id="report-container">
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="user-modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="user-modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="user-modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Warning Modal -->
    <div class="modal fade" id="warning-modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="warning-modal-title">Warning</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center" id="warning-modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="../static/bootstrap.js"></script>
    <script src="../static/jquery.js"></script>
    <script type="text/javascript">
        
        jQuery(function($) {
            // Run when document is ready
            // $ (first argument) will be internal reference to jQuery
            // Never rely on $ being a reference to jQuery in the global namespace

            //-------------------------------------------------------//
            let report = []
            //-------------------------------------------------------//
            //request function handles all ajax processes
            function request(payload){
              $.ajax({
                type: payload.type,
                url: payload.url,
                data: payload.data,
                success:function(data){
                  // Do something with the response
                  return data
                },
                error: function(error){
                  // Do something with the error
                  return "error"
                }
              });
            }
            //-------------------------------------------------------//
            $.getJSON("http://localhost:5000/tables", function(data){
                $("#user-modal-body").empty();

                //here variable data is in JSON format
                for (let table of data){
                    var template = `
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="${table}" id="${table}_checkbox">
                            <label class="form-check-label" for="${table}_checkbox">
                                ${table}
                            </label>
                        </div>`;
                    $("#user-modal-body").append(template);


                    $(`#${table}_checkbox`).on('change', function(){
                        if (document.getElementById(`${table}_checkbox`).checked){
                            $('#tables-select').append(`
                                <option value='${table}' id='${table}_option'>${table}</option>
                            `)
                        }else{
                            $(`#${table}_option`).remove()
                        }
                    })
                }

                $("#user-modal-title").text("Select Tables");
            });
            //-------------------------------------------------------//
            $('#tables-select').on('change', function(){
                var table = $(this).val()

                if (table !== ''){
                    var postData = {table_name: table}

                    $.ajax({
                        type: "Post",
                        url: "http://localhost:5000/columns",
                        dataType: "json",
                        data: postData,
                        success: function (data) {
                            $('#columns-select').empty()
                            $('#target-select').empty()
                            //here variable data is in JSON format
                            for (let column of data){
                                $('#columns-select').append(`<option>${column}</option>`)
                                $('#target-select').append(`<option>${column}</option>`)

                            }
                        },
                        error: function(jqXHR, textStatus){
                            alert('Error occurred: ' + textStatus);
                        }
                    });
                }
            })
            //-------------------------------------------------------//
            $('#modal_button').on('click', function(){
                var modal = new bootstrap.Modal($('#user-modal'), {keyboard: false});
                modal.show();
            })
            //-------------------------------------------------------//
            $('#add-selector').on('click', function(){
                var table = $('#tables-select').val();
                var column = $('#columns-select').val();
                var columnAlias = $('#column-alias').val();

                if (table !== '' && column !== '' && columnAlias !== ''){
                    if (report.find(query => query.table === table) == null){
                        // continue from here
                        
                        var obj = {
                            table: table, 
                            selectors: [
                                {
                                    column: column, 
                                    alias: columnAlias}, 
                                ], 
                            filters: []
                        }
                        
                        report.push(obj)
                        console.log(report)
                    }else{
                        var obj = report.find(query => query.table === table)

                        obj.selectors.push(
                            {
                                column: column,
                                alias: columnAlias
                            })
                    }

                }else{
                    //write modal to warn users of input error
                    var modal = new bootstrap.Modal($('#warning-modal'), {keyboard: false});
                    $("#warning-modal-body").empty().append(`<p class="lead fs-5">Kindly fill the relevant input fields</p>`);
                    modal.show();
                }

            })
            //-------------------------------------------------------//
            $('#add-filter').on('click', function(){
                var table = $('#tables-select').val();
                var operation = $('#ops-select').val();
                var filterTarget = $('#target-select').val();
                var filterValue = $('#filter-value').val();
                var logicalOperator = $('#logic-ops-select').val();

                if (table !== '' && filterTarget !== '' && operation !== ''){
                    if (report.find(query => query.table === table) == null){
                    //write modal to warn users of input error
                    var modal = new bootstrap.Modal($('#warning-modal'), {keyboard: false});
                    $("#warning-modal-body").empty().append(`<p class="lead fs-5">Kindly create necessary selectors prior to adding filters</p>`);
                    modal.show();
                    }else{
                        var obj = report.find(query => query.table === table)
                        //still need to write code to cross check whether the 
                        //the current filter already exists....
                        obj.filters.push(
                            {
                                filterValue: filterValue,
                                filterTarget: filterTarget,
                                operation: operation,
                                logicalOperator: logicalOperator
                            }
                        )
                  
                    }

                    console.log(report)

                }else{
                    //write modal to warn users of input errors
                    var modal = new bootstrap.Modal($('#warning-modal'), {keyboard: false});
                    $("#warning-modal-body").empty().append(`<p class="lead fs-5">Kindly fill the relevant input fields</p>`);
                    modal.show();
                }
            })
            //-------------------------------------------------------//
            $('#build-report').on('click', function(){
                if (report !== []){
                    $.ajax({
                        type: "Post",
                        url: "http://localhost:5000/build_report",
                        dataType: "json",
                        data: JSON.stringify(report),
                        success: function (data) {
                            //console.log(data)
                            $('#report-container').empty().append(data.html)
                        },
                        error: function(jqXHR, textStatus){
                            alert('Error occurred: ' + textStatus);
                        }
                    });
                }
            })
            //-------------------------------------------------------//

        });

    </script>

  </body>
</html>